{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mt-2">
                <h5 class="card-header">Twig Generated List</h5>
                <div class="card-body">
                <ul class="list-group">
                {% for i in 1..7 %}
                    <li class="list-group-item">
                        Test {{i}}
                    </li>
                {% endfor %}
                </ul>
                </div>
            </div>   
        </div>
        <div class="col">
            <div class="card mt-2">
                <img src="{{ asset('img/SunsetsRiehen_3.JPG') }}" class="card-img-top" alt="sunset">
                <div class="card-body">
                    <p class="card-text">Sunset in Riehen</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-2">
                <h5 class="card-header">Happy Message Generator Service (as Flash)</h5>
                <div class="card-body">
                    {# read and display all flash messages #}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                <p class="text-center">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>   
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Json Data View</h5>
                <div class="card-body">
                    <p class="card-text"><strong>Using Data Service to get countries table as json</strong></p>
                    {{ data | json_encode() }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
