{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}
<h1>Task List</h1>
<div class="card">
    <div class="card-body">
        <a class="btn btn-primary btn-sm" href="{{ path('task_form') }}" role="button">+</a>&nbsp;New Task
        <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.task}}</td>
                <td>{{task.dueDate|date("d.m.Y")}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}
