{% extends 'base.html.twig' %}

{% block title %}Task: create{% endblock %}

{% block body %}
<h1>Create New Task</h1>
<div class="row">
    <div class="col">
        <div class="card bg-light p-2">
            {{ form(form) }}
        </div>
    </div>
    <div class="col">
       &nbsp;
    </div>
</div>

{% endblock %}