{% extends 'base.html.twig' %}

{% block title %}Show product{% endblock %}

{% block body %}
    <h1>Product</h1>
    <div class="card mb-2">
        <div class="card-body">
            Product: {{ product.name }}<br>
            Price: {{ product.price }}<br>
            Description:<br>
            {{product.description}}
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('product') }}" role="button">Back</a>
{% endblock %}