{% extends 'base.html.twig' %}

{% block title %}Blog: Entry{% endblock %}

{% block body %}
<h1>Blog entry</h1>
<div class="card">
    <div class="card-body">
        
        <p><a href="{{ path('blog_list') }}">Back</a></p>
    </div>
</div>
{% endblock %}