{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>
    <div class="card p-2">
    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="d-flex flex-row bd-highlight mt-2">
        <div class="p-1 bd-highlight">
            <a href="{{ path('article_index') }}" class="btn btn-primary btn-sm" role="button">
                <span class="oi oi-list" title="Back to List" aria-hidden="true"></span>
            </a>   
        </div>
        <div class="p-1 bd-highlight">
            {{ include('article/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
